/****** Main Styling ******/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #444444;
  background-color: #EEEEEE;
	text-align: center;
	line-height: 1.4em;
}

/* .container {
	padding: 0;
  margin-top: 40px;
  
} */

h3 {
  margin-top: 30px;
}

.footer {
  margin-top: 80%;
  background-color: #fefefe;
}
.header {
  background-color: #fefefe;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
/* .box {
  box-sizing: border-box; 
  padding-bottom: 5%;  
  padding-left: 5%; 
  padding-right: 5%
} */
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #DEDEDE;
}
ol {
	list-style-position: inside;
}
ul {
	list-style-type: disc;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 220px;
  text-align: center;
}